In [2]:
!pip install pandas mysql-connector-python

Requirement already satisfied: pandas in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.2.2)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (6.0 kB)
Requirement already satisfied: numpy>=1.26.0 in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.2.0-cp312-cp312-macosx_14_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 10.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [3]:
import pandas as pd
import mysql.connector

In [43]:
import mysql.connector

# Set up the MySQL connection with user and password
connection = mysql.connector.connect(
    host='localhost',          # Host where MySQL server is running (usually localhost)
    user='root',               # MySQL username
    password='Ddik70enujmlk*',      # Replace with your MySQL password
    database='Chinook',        # Correct name of your database (no '=' sign)
)

# Check if the connection is successful
if connection.is_connected():
    print("Connected to the database")
else:
    print("Failed to connect to the database")

# Close the connection once you're done
connection.close()

Connected to the database

In [44]:
import pandas as pd
import mysql.connector

In [45]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Ddik70enujmlk*',
    database='Chinook'  # Ensure this matches your database name
)

In [47]:
# SQL query to fetch data from PlaylistTrack
query = "SELECT * FROM PlaylistTrack;"

# Execute the query and load data into a Pandas DataFrame
df = pd.read_sql(query, connection)

# Display the first few rows of the DataFrame to verify
df.head()

/var/folders/r_/y9bkkd394pjf59zq4x5hw9gr0000gn/T/ipykernel_39556/3723390709.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM PlaylistTrack;': 1146 (42S02): Table 'chinook.playlisttrack' doesn't exist

In [48]:
query = "SELECT * FROM playlist_tracks;"  # This is a Python variable, not SQL code
df = pd.read_sql(query, connection)
df.head()  # This will display the first few rows

/var/folders/r_/y9bkkd394pjf59zq4x5hw9gr0000gn/T/ipykernel_39556/2263769004.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM playlist_tracks;': 1146 (42S02): Table 'chinook.playlist_tracks' doesn't exist

In [49]:
# Run a SELECT query to check the data in the PlaylistTrack table
query = "SELECT * FROM PlaylistTrack;"
df = pd.read_sql(query, connection)

# Display the first few rows to see the data
df.head()

/var/folders/r_/y9bkkd394pjf59zq4x5hw9gr0000gn/T/ipykernel_39556/1513111722.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM PlaylistTrack;': 1146 (42S02): Table 'chinook.playlisttrack' doesn't exist

In [50]:
mysqldump -u root -p `DATABASE Chinook` > chinook_backup.sql

SyntaxError: invalid syntax (96370480.py, line 1)

In [51]:
mysqldump -u root -p `DATABASE Chinook` > chinook_backup.sql

SyntaxError: invalid syntax (96370480.py, line 1)

In [53]:
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Ddik70enujmlk*',  # Replace with your actual password
    database='DATABASE_Chinook'
)

In [54]:
import pandas as pd

query = "SELECT * FROM PlaylistTrack;"
df = pd.read_sql(query, connection)

# Display the first few rows to check the data
print(df.head())

   PlaylistId  TrackId
0           8     3068
1           8     3069
2           8     3070
3           8     3071
4           8     3072

/var/folders/r_/y9bkkd394pjf59zq4x5hw9gr0000gn/T/ipykernel_39556/1661885119.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)